@import "~semantic-ui-css/semantic.min.css";
@import "~react-toastify/dist/ReactToastify.css";

.dangerText {
  color: red;
  font-size: 12px;
}

.modal {
  left: auto !important;
  top: auto !important;
  height: fit-content !important;
}